.field {
  resize: none;
  width: 100%;
  border: 1px solid darkgray;
}

.buttons {
  padding: 0 0 10px 10px;
  button {
    border: 1px solid darkgray;
    margin-left: -1px;
    cursor: pointer;
    padding: 10px 20px;
    &:hover {
      background-color: lightgrey;
    }
    width: 100%;
    margin-bottom: 10px;
  }
}
